
.left {
    float: left;
}

.w50 {
    width: 50%;
}

.selected {
    --background: #f8f8f8;
  }
  .not-selected { 
  }
  
  .selected ion-icon, .not-selected ion-icon, .retired ion-icon {
    min-width: 70px;
    font-size: 24px;
    color: var(--ion-color-primary); /*rgb(75, 19, 204);*/
    --ionicon-stroke-width: 16px;
  }
  ion-icon {
    font-size: x-large;
  }
