<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="settings"> </ion-icon> Game Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="game">

    <ion-item>
      <ion-label>Rounds</ion-label>
      <ion-select [(ngModel)]="game.numRounds">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Question per Round</ion-label>
      <ion-select [(ngModel)]="game.numQuestions">
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
        <ion-select-option value="16">16</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <h3>Teams</h3>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="team 1" [(ngModel)]="players[0]"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input placeholder="team 2" [(ngModel)]="players[1]"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input placeholder="team 3" [(ngModel)]="players[2]"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input placeholder="team 4" [(ngModel)]="players[3]"></ion-input>
    </ion-item>

    <ion-item no-line>
      <h3>Categories</h3>
    </ion-item>
    <ng-container *ngFor="let cat of categories">
      <ion-item (click)="toggleCat(cat)" [ngClass]="isSelected(cat) ? 'selected' : 'not-selected'">
        <ion-icon *ngIf="isSelected(cat)" name="checkbox"></ion-icon>
        <ion-icon *ngIf="!isSelected(cat)" name="square-outline"></ion-icon>
        <ion-text>
          <h1>{{cat.name}}</h1>
        </ion-text>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>
<ion-footer>
  <div class="left w50">
    <ion-button [routerLink]="['/start']" color="light" expand="block">&nbsp;Back</ion-button>
  </div>
  <div class="left w50">
    <ion-button [disabled]="!canContinue()" (click)="next()" color="success" expand="block">
      <ion-spinner *ngIf="loading"></ion-spinner>&nbsp;Begin
    </ion-button>
  </div>
</ion-footer>