<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="settings"> </ion-icon> Game Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="game">
    <ion-item>
      <ion-label>Rounds</ion-label>
      <ion-select [(ngModel)]="game.numRounds">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
      </ion-select>   
    </ion-item>  

    <ion-item>
      <ion-label>Question per Round</ion-label>
      <ion-select [(ngModel)]="game.numQuestions">
        <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
          <ion-select-option value="16">16</ion-select-option>
      </ion-select>   
    </ion-item>  

    <ion-item>
      <ion-label position="stacked">Player 1</ion-label>
      <ion-input [(ngModel)]="players[0]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Player 2</ion-label>
      <ion-input [(ngModel)]="players[1]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Player 3</ion-label>
      <ion-input [(ngModel)]="players[2]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Player 4</ion-label>
      <ion-input [(ngModel)]="players[3]"></ion-input>
    </ion-item>

  </ion-list>

</ion-content>
<ion-footer>
  <div class="left w50">
    <ion-button [routerLink]="['/start']"  color="light" expand="block">&nbsp;Back</ion-button>
  </div>
  <div class="left w50">
    <ion-button (click)="next()"color="success" expand="block"><ion-spinner *ngIf="loading"></ion-spinner>&nbsp;Begin</ion-button>       
  </div>
</ion-footer>
