<ion-header>
  <ion-toolbar>
    <div slot="start">  
      <img src='assets/icon/favicon.png' />
    </div>
    <div *ngIf="loaded">
      {{gameState()}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!loaded">Loading</ion-item>
  <ion-list *ngIf="loaded">
    <app-question-summary [questions]='questions'></app-question-summary>
    <div *ngIf="gameObject.question!=''">
      <div style="width: 90%; margin: auto;">
        <app-question-multi-choice *ngIf="gameObject.question.type==='multiple'" [question]="gameObject.question">
        </app-question-multi-choice>
        <app-question-true-false *ngIf="gameObject.question.type==='boolean'" [question]='gameObject.question'>
        </app-question-true-false>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button (click)="exitGame()" color="light" expand="block">Exit
  </ion-button>
</ion-footer>