ion-col {
    background-color: transparent;
}

ion-row {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #000;
}
ion-row:nth-child(odd) {
    background-color: rgb(230, 238, 248);
}

ion-row.header {
    background-color: #fff;
    color: #444;
    font-weight: bold;
}

.favicon {
    padding-right: 20px;
    max-width: 100px;
}

.w90 {
    width: 90%;
    margin: auto;
}
.w80 {
    width: 90%;
    margin: auto;
}

.userprompt {
    border-top: solid 1px #0d2c6c;
    background-color: #f5f5d8ab;
    padding: 10px;
    font-size: large;
}
