<ion-header>
  <ion-toolbar>
    <div slot="start" style="padding-right: 20px; max-width: 100px" (click)="exitGame()">
      <img src='assets/icon/favicon.png' />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!loaded">Loading</ion-item>
  <ion-list *ngIf="loaded && !showsummary">
    <app-question-summary [questions]='questions'></app-question-summary>
    <div *ngIf="gameObject.question!=''">
      <div style="width: 90%; margin: auto;">
        <app-question-multi-choice *ngIf="gameObject.question.type==='multiple'" [question]="gameObject.question">
        </app-question-multi-choice>
        <app-question-true-false *ngIf="gameObject.question.type==='boolean'" [question]='gameObject.question'>
        </app-question-true-false>
      </div>
    </div>
  </ion-list>
  <ion-list *ngIf="loaded && showsummary">
    <ion-card>
      <ion-grid>
        <ion-row class="header">
          <ion-col size="6">
            <ion-icon name='person'></ion-icon> Player
          </ion-col>
          <ion-col>
            <ion-icon name="close"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="checkmark"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="thumbs-up"></ion-icon>
          </ion-col>
          <ion-col>
            Score
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
      <ion-grid>
      <ion-row *ngFor="let player of gameObject.players">
        <ion-col size="6">
          <ion-icon name='person'></ion-icon> {{player.name}}
        </ion-col>
        <ion-col>
          {{player.incorrect}}
        </ion-col>
        <ion-col>
          {{player.correct}}
        </ion-col>
        <ion-col>{{computeScorePct(player)}}
        </ion-col>
        <ion-col>
          {{player.score}}
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color='light' *ngIf='!showsummary' (click)="toggleSummary()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color='light' *ngIf='showsummary' (click)="toggleSummary()">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <div *ngIf="loaded && !gameOver" style="background-color:#d2d2d2; padding: 10px">
    <div style="width: 80%; margin: auto; font-size: large;">
      <div >
        {{currentPlayer()}}
      </div>
      <div>
        {{gameState()}}
      </div>  
    </div>
  </div>
  <ion-button  *ngIf="gameOver"  [routerLink]="['/start']"  color="success" expand="block">Finish</ion-button>
</ion-footer>