<h1>{{question.category}}</h1>
<ion-item class="ion-no-padding">
  <div [innerHTML]="question.question">
  </div>
</ion-item>
<ion-list *ngIf="question.type==='boolean'">
  <ion-button class="{{selectIcon(question,'False')}}" (click)="guess(question,'False')">
    <ion-icon name="{{selectIcon(question,'False')}}"></ion-icon>False
  </ion-button>
  <ion-button class="{{selectIcon(question,'True')}}" (click)="guess(question,'True')">
    <ion-icon name="{{selectIcon(question,'True')}}"></ion-icon>True
  </ion-button>
</ion-list>