<ion-header>
  <ion-toolbar>
    <ion-title>Triviocity  V1.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="width: 80%; margin:auto;">
  <ion-button (click)="goName()"  expand="block" color="success">Start</ion-button>
  <ion-button [disabled]='!canResume()'[routerLink]="['/game']"expand="block" color="light">Resume</ion-button>
</div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="light"><ion-icon name="bug"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="resetIt()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="restartIt()">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>  
  </ion-fab>
</ion-content>
